.box{
    padding-bottom: 150px;
}
.hint{
    width: 81%;
    height: 45px;
    margin: 40px auto;
    color: rgb(154, 154, 154);
}
.return{
    cursor:pointer;
}
.title{
    font-size: 24px;
    font-family: '黑体';
    width: 60%;
    margin: auto;
}
.time{
    padding-top: 40px;
    padding-bottom: 40px;
    width: 35%;
    margin: auto;
    text-align: right;
    color: red;
}
.time img{
    padding-left: 15px;
}
.text{
    width: 58%;
    margin: auto;
    line-height: 40px;
    color: rgb(104, 104, 104);
    padding-right: 10%;
}